/* Global CSS */
:root {
  --secondary-blue: #295c8be6;
  --yellow: #ffedaf;
  --white: #fffcf4;
  --dark-blue: #1b3d5c;
  --second-grey: #44455b;
  --grey: #444444e6;
  --blue: #40a5f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

body {
  /* background: #ffeeaf99; */
  background: var(--white);
  /* background: linear-gradient(to right, var(--white), var(--yellow)); */
  /* background-repeat: no-repeat; */
}

/* Navbar Section */
.navbar {
  background: var(--grey);
  height: 70px;
  padding: 0.5rem calc((70vw - 1200px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-logo {
  color: var(--white);
  text-decoration: none;
  padding-left: 1rem;
  font-size: 2rem;
}

.navbar-link {
  color: var(--white);
  text-decoration: none;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.navbar-link:hover {
  text-decoration: underline var(--blue);
  text-underline-position: under;
}

@media screen and (max-width: 950px) {
  body.active {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100px);
    position: absolute;
    width: 100%;
    height: auto;
    top: -1000px;
    overflow-y: auto;
  }

  .navbar-menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 2rem;
    background: var(--blue);
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
    display: block;
    cursor: pointer;
  }

  #mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--grey);
  color: var(--white);
  padding: 20px;
  margin-top: 100vh;
}

/* Home Section */
.home {
  padding: 0.5rem calc((70vw - 1000px) / 2);
  color: var(--white);
  background-color: var(--grey);
  height: 100vh;
}

.name {
  font-size: clamp(2rem, 6vw, 8rem);
  /* 8rem max and 2rem low*/
}
.last-name {
  color: var(--blue);
}

.sub-heading {
  /* 2.5rem to 3rem max and 1rem min*/
  font-size: clamp(1rem, 6vw, 2.5rem);
}

i {
  color: var(--white);
  font-size: clamp(3rem, 6vw, 5rem);
  margin-top: 1rem;
  margin-right: 2rem;
}
