/* Global CSS */
:root {
  --secondary-blue: #295c8be6;
  --yellow: #ffedaf;
  --white: #fffcf4;
  --dark-blue: #1b3d5c;
  --second-grey: #44455b;
  --grey: #444444e6;
  --blue: #40a5f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

body {
  background: var(--white);
}

/* Navbar Section */
.navbar {
  background: var(--grey);
  height: 70px;
  padding: 0.5rem calc((70vw - 1200px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.navbar-logo {
  color: var(--white);
  text-decoration: none;
  padding-left: 1rem;
  font-size: 2rem;
}

.navbar-link {
  color: var(--white);
  text-decoration: none;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.navbar-link:hover {
  text-decoration: underline var(--blue);
  text-underline-position: under;
}

@media screen and (max-width: 950px) {
  body.active {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100px);
    position: absolute;
    width: 100%;
    height: auto;
    top: -1000px;
    overflow-y: auto;
  }

  .navbar-menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 2rem;
    background: var(--grey);
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
    display: block;
    cursor: pointer;
  }

  #mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--grey);
  color: var(--white);
  padding: 20px;
  margin-top: 100vh;
}

/* Home Section */
.home {
  padding: 0.5rem calc((70vw - 1000px) / 2);
  background: var(--grey);
  color: var(--white);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home-container {
  position: relative;
  z-index: 2;
}

.name {
  font-weight: normal;
  font-size: clamp(2rem, 6vw, 8rem);
  /* 8rem max and 2rem low*/
}

.last-name {
  color: var(--blue);
}

.sub-heading {
  /* 2.5rem to 3rem max and 1rem min*/
  font-size: clamp(1rem, 6vw, 2.5rem);
}

.home-icons {
  color: var(--white);
  font-size: clamp(3rem, 6vw, 5rem);
  margin-top: 1rem;
  margin-right: 2rem;
}

.home-icons:hover {
  color: var(--blue);
  transition: color 0.25s ease-out;
}

/* About Me Section */
.about {
  padding: 0.5rem calc((70vw - 1000px) / 2);
  background: var(--grey);
  color: var(--white);
  min-height: 100vh;
}

.about-heading {
  font-weight: normal;
  font-size: clamp(2rem, 6vw, 8rem);
  /* 8rem max and 2rem low*/
}

.about-heading2 {
  color: var(--blue);
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "image bio bio" "job1 job2 job3";
  grid-column: repeat(3, 1fr);
}

.about-image {
  grid-area: image;
  margin: auto;
  border-radius: 50%;
  border: var(--blue) 3px solid;
}
.about-bio-heading {
  color: var(--blue);
}

.about-bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  grid-area: job1;
}

.job-2 {
  grid-area: job2;
}

.job-3 {
  grid-area: job3;
}

.job {
  background: rgba(255, 255, 255, 0.05);
  border-bottom: var(--blue) 5px solid;
}

@media screen and (max-width: 750px) {
  .about-info {
    grid-template-areas: "image" "bio" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
}

/* Work Section*/
.work {
  padding: 0.5rem calc((70vw - 1000px) / 2);
  background: var(--grey);
  color: var(--white);
  min-height: 100vh;
}

.work-heading {
  font-weight: normal;
  font-size: clamp(2rem, 6vw, 8rem);
  /* 8rem max and 2rem low*/
}

.work-heading2 {
  color: var(--blue);
}

.projects {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.project-images {
  width: 100%;
  border: 3px var(--white) solid;
}

.project-images:hover {
  opacity: 0.5;
  border-color: var(--blue);
  transition: all 0.3s ease-in-out;
}
